<!DOCTYPE html>
{% block html%}<html lang="en">{% endblock %}
<head>
    <meta charset="UTF-8" http-equiv="content-type" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
        {% stylesheets output='css/complie.css'
        'bundles/yithelp/css/jquery-ui.min.css'
        'bundles/yithelp/css/angular-motion.min.css'
        'bundles/yithelp/css/bootstrap.min.css'
        'bundles/yithelp/css/bootstrap-theme.min.css'
        'bundles/yithelp/css/yitHelp.less'
        filter='less,cssrewrite,yui_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <title>Help</title>
</head>
<body>

    {% block yitHelp %}{% endblock %}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
        {% if app.debug %}
        <script src="{{ asset('app/scripts/basePath/app_devPath.js') }}"></script>
        <script src="{{ asset('app/scripts/an-basepath/module_dev.js') }}"></script>
        {% else %}
        <script src="{{ asset('app/scripts/basePath/appPath.js') }}"></script>
        <script src="{{ asset('app/scripts/an-basepath/module.js') }}"></script>
        {% endif %}
    {% endblock %}
</body>
</html>