{% extends 'YitHelpBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/help.css'
    'bundles/yithelp/css/yitHelp.less'
    filter='less,cssrewrite,yui_css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block yitHelp %}
    <div id="yit-help" data-ng-app="helpApp" data-ng-controller="yitHelpCtrl">
        <div class="col-md-3">
            <h1 class="yit-help-color">{{ 'help'|trans({}, 'yithelp') }}</h1>
            {% verbatim %}
            <div class="panel-group" data-ng-model="undifined" data-bs-collapse>
                <div class="panel panel-default" data-ng-repeat="category in categorys">
                    <h4 class="panel-title">
                        <span data-bs-collapse-toggle
                              data-ng-class="{'help-category': selectedCat === category.id }" data-ng-click="selectCat(category.id)">
                            {{ category.name }}
                        </span>
                    </h4>
                    <div class="panel-collapse collapse am-collapse" data-bs-collapse-target>
                        <span data-ng-repeat="article in category.article" data-ng-class="{'yit-help-color':selectedTab === article.id }" data-ng-click="redirectTo(category.name,article.id)">{{ article.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="yit-help-color">{{ articleName }}</h1>
            <div yit-compile-html="content.content"></div>
        </div>
    </div>
    {% endverbatim %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/yithelp/js/angular/app.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/services/helpData.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/services/articleContent.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/controller/main.js') }}"></script>
{% endblock %}