<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8" http-equiv="content-type" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

            {% stylesheets output='css/complie.css'
            'bundles/yithelp/css/jquery-ui.min.css'
            'bundles/yithelp/css/angular-motion.min.css'
            'bundles/yithelp/css/bootstrap.min.css'
            'bundles/yithelp/css/bootstrap-theme.min.css'
            'bundles/yithelp/css/yitHelp.less'
            filter='less,cssrewrite,yui_css' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        <title>Help</title>
    </head>
<body data-ng-app="helpApp" data-ng-controller="mainCtrl">
    <div id="yit-help">
        <div class="col-md-3">
            <h1 class="yit-help-color">{{ 'help'|trans({}, 'yithelp') }}</h1>
            {% verbatim %}
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel" data-ng-repeat="category in categorys">
                        <div role="tab" id="heading{{ category.id }}">
                            <h4 class="panel-title">
                                <a class="collapsed"
                                   data-ng-class="{'help-category': category.open }" data-ng-click="selectCat(category.id)" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ category.id }}" aria-expanded="false" aria-controls="collapse{{ category.id }}">
                                    {{ category.name }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ category.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ category.id }}">
                            <a href="#" data-ng-repeat="article in category.article" data-ng-class="{'yit-help-color':selectedTab === article.id }" data-ng-click="selectTab(article.id, article.name)">{{ article.name }}</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="yit-help-color">{{ articleName }}</h1>
            <div data-ng-bind-html="content.content"></div>
        </div>
    </div>
{% endverbatim %}
    <script src="{{ asset('bundles/yithelp/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular-resource.min.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/app.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/services/helpData.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/services/articleContent.js') }}"></script>
    <script src="{{ asset('bundles/yithelp/js/angular/controller/main.js') }}"></script>

</body>
</html>
