{% extends 'YitHelpBundle::layout.html.twig' %}
{% block title %}
    {#{% for art in articles %}#}
        {#{{ art.title }}#}
    {#{% endfor %}#}
{% endblock title %}
{% block main %}
    {% for art in articles %}
        {#{% if art.image %}#}
            {#<div>#}
                {#<figure>#}
                    {#<a href="{% path art.image, 'reference' %}" rel="lightbox" title="{{ art.title }}"#}
                       {#data-lightbox="example-set">#}
                        {#<img src="{% path art.image, 'list' %}" width="200"/> </a>#}
                {#</figure>#}
            {#</div>#}
        {#{% endif %}#}
        <span>
            {#<div>#}
                {#<br><br>#}
                {#<b>    {{ art.title }}</b> <br>#}
                {#<b>    {{ art.yearBd}}</b> <br>#}
                {#<b>    {{ art.description}}</b> <br><br><br><br><br>#}
                {#<b> {{ 'article.sculpture'|trans({}, "messages") }} </b>#}
                {#{% if art.author %}#}
                    {#<b> {{ 'article.author'|trans({}, "messages") }} </b> {{ art.author}}<br>#}
                {#{% endif %}#}
                {#{% if art.architect %}#}
                    {#<b> {{ 'article.architect'|trans({}, "messages") }} </b> {{ art.architect}}<br>#}
                {#{% endif %}#}
                {#{% if art.substance %}#}
                    {#<b> {{ 'article.substance'|trans({}, "messages") }} </b> {{ art.substance}}<br>#}
                {#{% endif %}#}
                {#{% if art.insertData %}#}
                    {#<b> {{ 'article.insert_data'|trans({}, "messages") }} </b> {{ art.insertData}}<br>#}
                {#{% endif %}#}
                {#{% if art.place %}#}
                    {#<b> {{ 'article.place'|trans({}, "messages") }} </b> {{ art.place}}<br>#}
                {#{% endif %}#}
            {#</div>#}
        </span>
        <br>
        <br>
        <div>
        {{ art.content|raw }}<br>
    {% endfor %}
    </div>
{% endblock main %}

{% block category %}
    {#{% for categories in  category %}#}
        {#{{ dump(categories.category.slug) }}#}
        {#&#123;&#35;<a href="{{ path('my_terms', {'slug':categories.slug})}}">{{ categories.title }}<br> </a>&#35;&#125;#}
    {#{% endfor %}#}
{% endblock category %}